/* Components folder styles are here */
.App {
  height: 100vh;
}

.main-container{
  /* margin:0% 10%; */
  width: -webkit-fill-available;
  margin-top:60px;
  min-height: 80vh;
  margin-left: 10px;
  /* margin-bottom: 10px; */
  
}

.userOnHome{
  margin-top:-8px; 
}
.userNotOnHome{
  margin-top:72px;
}


.mobile-menu-link{
  z-index: 1200;
  list-style: none;
  position: absolute;
  top:60px;
  right:0;
  width:180px;
  border-radius: 5%;
  background: grey;
  padding:0.7rem;
  overflow: hidden; 
}

.dropdown{
  z-index: 1200;
  list-style: none;
  position: absolute;
  top:51px;
  right:0;
  width:180px;
  background: grey;
  padding:0.3rem;
  overflow: hidden; 
}
.dropdown-item{
  color:white;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0.3rem;
}

.mobile-view{
  display:none;
}
.sign_reg_icons{
  padding-left: 10px;
}
.dropdown-item:hover{
  cursor: pointer;
  background: linear-gradient(to right, #f27121, #e94057);
}

.container{
  display:flex;
}
.clear-filter-btn{
  padding: 0.3rem 1.2rem;
  background: white;
  margin-bottom: 1rem;
  font-weight: 500;
  border:1px solid grey;
  font-size:1.1rem;
}
.clear-filter-btn:hover{
  cursor: pointer;
  background: rgb(0, 0, 0);
  color: white;
}
.price-range{
  cursor: pointer;
  width:95%;
}
.discount-range{
  cursor: pointer;
  width:95%
}


::-webkit-scrollbar {
  width:0.6rem;
  height:0.6rem;
}
::-webkit-scrollbar-track {
  background: rgb(226, 154, 154);
  border-radius: 60vw;
}
::-webkit-scrollbar-thumb {
  background:linear-gradient(to bottom, #f27121a9, #e94057d2);
  border-radius: 60vw;
}
::-webkit-scrollbar-thumb:hover {
  background:linear-gradient(to bottom, #f27121, #e94057);
}

.back-arrow-span{
  border-radius: 50%;
  background: gainsboro;
  color: #5a5a5a;
  padding: 5px 8px;
  cursor: pointer;
  margin-left: 6px;
  position: relative;
}
.back-arrow-span:hover{
  background: #8f8f8f;
  color: white;
}
.back-arrow-span:active{
  background: #b1b1b1;;
}
.back-arrow{
  padding-top: 2px;
  transform: scale(1.1);
}

@media print {
  .main-navbar{
    display: none;
  }
  .main-footer{
    display:none;
  }
  .invoice-bill{
    width: 90%; 
    max-width: 1048px; 
  }
  @page {
    margin-top: 0;
    margin-bottom: 0;
  } 
  body {
    padding-top: 72px;
    padding-bottom: 72px ;
  }
  /* for avoiding the 2nd page the below code worked for me */
  html, body {
    height:100vh; 
    margin: 0 !important; 
    padding: 0 !important;
    overflow: hidden;    
  }

}

/* responsive css style  */
@media (max-width: 1000px) {
  .logout-icon{
    display: none;
  }
  .dropdown{
    top:47px !important;
    width: 160px;
  }
}
/* For Main NavBar */
/* making responsive for form width */
@media (max-width: 650px){

  .dropdown{
    top:45px !important;
    width: 140px;
  }
  .logout-icon{
    display: none;
  }
}
.discount{
  position: absolute;
  top: 0px;
  left: 0px;
  background: #e30606;
  padding: 10px 5px;
  border-radius: 50%;
  color:white;
 
}

.hide-menu{
  display: none;
}

/* Loader ends */
@media screen and (max-width: 600px) and (min-width: 300px) {
  .main-container{
    /* margin:0% 2%; */
    margin-top:70px;
  }
}

@media screen and (max-width: 950px) and (min-width: 601px) {
  .main-container{
   
    /* margin:0% 5%; */
    margin-top:70px;
  }
}

@media (max-width:650px){
  .main-container{
    margin-left:0px;
  }
  .userOnHome{
    margin-top:-20px; 
  }
  .discount{
    font-size: 0.8rem !important;
    padding: 8px 2px;
  }
}
