/* Components folder styles are here */
.App {
  height: 100vh;
}

.main-container{
  /* margin:0% 10%; */
  width: -webkit-fill-available;
  margin-top:80px;
  min-height: 26rem;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* .menu-link{
  width: 85%;
  grid-column: 3/4;
} */

.hamburger-menu {
  display: none;
}

.mobile-menu-link{
  z-index: 1200;
  list-style: none;
  position: absolute;
  top:60px;
  right:0;
  width:180px;
  border-radius: 5%;
  background: grey;
  padding:0.7rem;
  overflow: hidden; 
}

.dropdown{
  z-index: 1200;
  list-style: none;
  position: absolute;
  top:51px;
  right:0;
  width:180px;
  background: grey;
  padding:0.3rem;
  overflow: hidden; 
}
.dropdown-item{
  color:white;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0.3rem;
}

.mobile-view{
  display:none;
}
.sign_reg_icons{
  padding-left: 10px;
}
.dropdown-item:hover{
  cursor: pointer;
  background: linear-gradient(to right, #f27121, #e94057);
}

.activeIcon{
  /* grid-column: 5/5; */
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 1.8rem;
  padding:3px;
  background: linear-gradient(to right, #f27121, #e94057);
}

.active-menu{
    text-align: end;
    display: block;
    color:white;
    font-size: 1.8rem;
  cursor: pointer;
  align-items: flex-end;
  border-radius: 50%;
  padding:5px;
  background: linear-gradient(to right, #f27121, #e94057);
}
.cart-bage{
  margin-left: 35px;
  margin-top: -5px;
  position: absolute;
  background-color: orangered;
  color: white;
  border-radius: 50%;
  display: block;
  width: 16px;
  height: 18px;
  text-align: center;
  font-size: small;
  cursor: pointer;
}
.container{
  display:flex;
}
.clear-filter-btn{
  padding: 0.3rem 1.2rem;
  background: white;
  margin-bottom: 1rem;
  font-weight: 500;
  border:1px solid grey;
  font-size:1.1rem;
}
.clear-filter-btn:hover{
  cursor: pointer;
  background: black;
  color: white;
}
.price-range{
  cursor: pointer;
  width:95%;
}
.discount-range{
  cursor: pointer;
  width:95%
}
/* .pages{
  width:fit-content;
} */


/* responsive css style  */
@media (max-width: 1000px) {
  .hamburger-menu {
    display: block;
    color:white;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 7px;
  }
  .dropdown{
    top:47px !important;
  }
}
/* making responsive for form width */
@media (max-width: 550px){
  .cart{
    font-size:1.3rem;
  }
  .user-icon{
    font-size:1.3rem;
  }
  .hamburger-menu {
    margin-top: 7px;
  }
  .cart-bage{
    margin-left: 11px;
    margin-top: -10px;
    width: 14px;
    height: 19px;
    font-size: smaller;
  }
}
.discount{
  position: absolute;
  top: 0px;
  left: 0px;
  background: #e30606;
  padding: 10px 5px;
  border-radius: 50%;
  color:white;

}

.hide-menu{
  display: none;
}
@media screen and (max-width: 600px) and (min-width: 300px) {
  .main-container{
    /* margin:0% 2%; */
    margin-top:70px;
  }
}

@media screen and (max-width: 950px) and (min-width: 601px) {
  .main-container{
   
    /* margin:0% 5%; */
    margin-top:70px;
  }
}